

.father{
    width: 29%;
    height: 80vh;
    border: 4px solid gray;
    display: grid;
    margin: 0;


}

.logo{
    width: 60%;
    height: 90px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 90px;

}

.name{
    width: 260px;
    height: 30px;
    border: 1px solid gray;
    margin-left: 10px;

}

.inputs{
    display: grid;
    justify-content: center;
    margin-bottom: 560px;
    margin-right: 25px;
    margin-top: 40px;
}

.password{
    margin-top: 10px;
    width: 260px;
    height: 30px;
    border: 1px solid gray;
    margin-left: 10px;
}

button{
    margin-top: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
    height: 30px;
}

.ab{
    display: flex;
    justify-content: center;
    color: #878484;
}

.facebook{
    height: 30px;
    width: 30px;
}

.log{
    display: flex;
    justify-content: center;
    color: blue;
}

.forgot{
    display: flex;
    justify-content: center;
    color: blue;
}

.reg{
    display: flex;
    justify-content: center;
    border: 1px solid gray;

}
.regis{
    color: #699BF7;
}