
.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*чомусь не зміг перемістити в центр, ніби не реагує на те що я пишу*/

.basic{
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;



}

.card{
    height: 300px;
    width: 200px;
    border: black solid 5px;
    border-radius: 50px;

    justify-content: center;
    margin-top: 20px;
    display: grid;

}

.img{
    height: 100px;
    width: 100px;
    margin-top: 30px;


}

.txt{
    font-size: 40px;
    width: 40%;
    display: flex;
    margin: auto;
    text-align: center;
}

.text{
    font-size: 30px;
}




